src/flows/T_Flow_Case_Update_Priority_Based_On_Message-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Count_Messages</name>
        <label>Count Messages</label>
        <locationX>225</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Messages</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>High_Priority_Case</name>
        <label>High Priority Case</label>
        <locationX>48</locationX>
        <locationY>339</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Count_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Count &gt; 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Message_Created_In_Last_6_Weeks</name>
        <label>Message Created In Last 6 Weeks</label>
        <locationX>224</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Messages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Message_6_Weeks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DateLastSixWeeks</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Messages</targetReference>
            </connector>
            <label>Message &gt; 6 Weeks</label>
        </rules>
    </decisions>
    <description>This flow is used to update the priority and queue on the case based on the latest incoming message.</description>
    <interviewLabel>Case Update Priority Based On Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Update Priority Based On Message</label>
    <loops>
        <name>Loop_Through_Messages</name>
        <label>Loop Through Messages</label>
        <locationX>45</locationX>
        <locationY>231</locationY>
        <assignNextValueToReference>EmailMessage</assignNextValueToReference>
        <collectionReference>EmailMessages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Message_Created_In_Last_6_Weeks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>High_Priority_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Incoming_Messages</name>
        <label>Get Incoming Messages</label>
        <locationX>45</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputReference>EmailMessages</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>45</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Messages</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retention</stringValue>
            </value>
        </filters>
        <object>T_CMT_Queues_with_Id__mdt</object>
        <outputAssignments>
            <assignToReference>QueueId</assignToReference>
            <field>LMP_Queue_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>51</locationX>
        <locationY>450</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Get_Incoming_Messages</startElementReference>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>5007E000005j52N</stringValue>
        </value>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DateLastSixWeeks</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2017-08-24</dateValue>
        </value>
    </variables>
    <variables>
        <name>EmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>EmailMessages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
