src/flows/T_Flow_Email_Message_Send_Auto_Response-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Auto_Reponse_DE</name>
        <label>Send Auto Reponse DE</label>
        <locationX>680</locationX>
        <locationY>255</locationY>
        <actionName>Case.T_EA_Send_Auto_Response_In_German</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_DE</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Auto_Response_All_Languages</name>
        <label>Send Auto Response All Languages</label>
        <locationX>407</locationX>
        <locationY>444</locationY>
        <actionName>Case.T_EA_Send_Auto_Response_In_All_Languages</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_ALL</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Auto_Response_EN</name>
        <label>Send Auto Response EN</label>
        <locationX>679</locationX>
        <locationY>352</locationY>
        <actionName>Case.T_EA_Send_Auto_Response_In_English</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_EN</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Auto_Response_FR</name>
        <label>Send Auto Response FR</label>
        <locationX>677</locationX>
        <locationY>46</locationY>
        <actionName>Case.T_EA_Send_Auto_Response_in_French</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_FR</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Auto_Response_NL</name>
        <label>Send Auto Response NL</label>
        <locationX>681</locationX>
        <locationY>148</locationY>
        <actionName>Case.T_EA_Send_Auto_Response_In_Dutch</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_NL</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Case_Language_IS_Null</name>
        <label>Case Language IS Null</label>
        <locationX>92</locationX>
        <locationY>41</locationY>
        <defaultConnector>
            <targetReference>Get_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IS_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Language</targetReference>
            </connector>
            <label>IS Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_Language</name>
        <label>Select Language</label>
        <locationX>271</locationX>
        <locationY>143</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Auto_Response_FR</targetReference>
            </connector>
            <label>FR</label>
        </rules>
        <rules>
            <name>NL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Auto_Response_NL</targetReference>
            </connector>
            <label>NL</label>
        </rules>
        <rules>
            <name>DE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Auto_Response_DE</targetReference>
            </connector>
            <label>DE</label>
        </rules>
        <rules>
            <name>EN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Auto_Response_EN</targetReference>
            </connector>
            <label>EN</label>
        </rules>
        <rules>
            <name>Unknown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Auto_Response_ALL</targetReference>
            </connector>
            <label>Unknown</label>
        </rules>
    </decisions>
    <description>This flow is used to send the auto-response upon reception of an email and update the case accordingly.</description>
    <interviewLabel>Email Message  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Message Send Auto-Response</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Auto_Response_ALL</name>
        <label>Create Auto Response ALL</label>
        <locationX>272</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>Send_Auto_Response_All_Languages</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>confirmation@lampiris.be</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Auto Response ALL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>WebEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Auto_Response_DE</name>
        <label>Create Auto Response DE</label>
        <locationX>524</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>Send_Auto_Reponse_DE</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>confirmation@lampiris.be</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Auto Response DE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>WebEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Auto_Response_EN</name>
        <label>Create Auto Response EN</label>
        <locationX>437</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>Send_Auto_Response_EN</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>confirmation@lampiris.be</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Auto Response EN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>WebEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Auto_Response_FR</name>
        <label>Create Auto Response FR</label>
        <locationX>526</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Send_Auto_Response_FR</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>confirmation@lampiris.be</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Auto Response FR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>WebEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Auto_Response_NL</name>
        <label>Create Auto Response NL</label>
        <locationX>525</locationX>
        <locationY>146</locationY>
        <connector>
            <targetReference>Send_Auto_Response_NL</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>confirmation@lampiris.be</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Auto Response NL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>WebEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Email_Language</name>
        <label>Get Email Language</label>
        <locationX>271</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Language</targetReference>
        </connector>
        <filters>
            <field>T_Email_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ToAddress</elementReference>
            </value>
        </filters>
        <object>T_CMT_Email_Address_Language_Dependency__mdt</object>
        <outputAssignments>
            <assignToReference>Concern</assignToReference>
            <field>T_Concern__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Language</assignToReference>
            <field>T_Language__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Question</assignToReference>
            <field>T_Question__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Service</assignToReference>
            <field>T_Service__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service</name>
        <label>Get Service</label>
        <locationX>92</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Language</targetReference>
        </connector>
        <filters>
            <field>T_Email_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ToAddress</elementReference>
            </value>
        </filters>
        <object>T_CMT_Email_Address_Language_Dependency__mdt</object>
        <outputAssignments>
            <assignToReference>Concern</assignToReference>
            <field>T_Concern__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Question</assignToReference>
            <field>T_Question__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Service</assignToReference>
            <field>T_Service__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_ALL</name>
        <label>Update Case ALL</label>
        <locationX>837</locationX>
        <locationY>447</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>C_Concern__c</field>
            <value>
                <elementReference>Concern</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_Detected_Language__c</field>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_Question__c</field>
            <value>
                <elementReference>Question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_Service__c</field>
            <value>
                <elementReference>Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>T_To_Address__c</field>
            <value>
                <elementReference>ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_DE</name>
        <label>Update Case DE</label>
        <locationX>832</locationX>
        <locationY>258</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>C_Concern__c</field>
            <value>
                <elementReference>Concern</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_Detected_Language__c</field>
            <value>
                <stringValue>DE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_Question__c</field>
            <value>
                <elementReference>Question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_Service__c</field>
            <value>
                <elementReference>Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>T_To_Address__c</field>
            <value>
                <elementReference>ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_EN</name>
        <label>Update Case EN</label>
        <locationX>833</locationX>
        <locationY>354</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>C_Concern__c</field>
            <value>
                <elementReference>Concern</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_Detected_Language__c</field>
            <value>
                <stringValue>EN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_Question__c</field>
            <value>
                <elementReference>Question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_Service__c</field>
            <value>
                <elementReference>Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>T_To_Address__c</field>
            <value>
                <elementReference>ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_FR</name>
        <label>Update Case FR</label>
        <locationX>830</locationX>
        <locationY>45</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>C_Concern__c</field>
            <value>
                <elementReference>Concern</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_Detected_Language__c</field>
            <value>
                <stringValue>FR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_Question__c</field>
            <value>
                <elementReference>Question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_Service__c</field>
            <value>
                <elementReference>Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>T_To_Address__c</field>
            <value>
                <elementReference>ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_NL</name>
        <label>Update Case NL</label>
        <locationX>832</locationX>
        <locationY>149</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>C_Concern__c</field>
            <value>
                <elementReference>Concern</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_Detected_Language__c</field>
            <value>
                <stringValue>NL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_Question__c</field>
            <value>
                <elementReference>Question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_Service__c</field>
            <value>
                <elementReference>Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>T_To_Address__c</field>
            <value>
                <elementReference>ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Case_Language_IS_Null</startElementReference>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Concern</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ToAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WebEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
