src/flows/T_Flow_Case_Update_SLA-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Milestone_To_Collection</name>
        <label>Add Milestone To Collection</label>
        <locationX>394</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>UpdatedMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Milestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Milestones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Milestone_To_Collection_0</name>
        <label>Add Milestone To Collection</label>
        <locationX>1079</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>UpdatedMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Milestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Milestones_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Milestone_To_Collection_1</name>
        <label>Add Milestone To Collection</label>
        <locationX>143</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>UpdatedMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Milestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Milestones_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Milestone</name>
        <label>Close Milestone</label>
        <locationX>562</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>Milestone.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Milestone.IsCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Milestone_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Milestone_0</name>
        <label>Close Milestone</label>
        <locationX>884</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>Milestone.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Milestone.IsCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Milestone_To_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Milestone_1</name>
        <label>Close Milestone</label>
        <locationX>319</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>Milestone.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Milestone.IsCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Milestone_To_Collection_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Incoming_Or_Outgoing</name>
        <label>Incoming Or Outgoing</label>
        <locationX>717</locationX>
        <locationY>21</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Incoming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateLastIncomingEmail</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>DateLastOutgoingEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Incoming_Milestone_Type_Id</targetReference>
            </connector>
            <label>Incoming</label>
        </rules>
        <rules>
            <name>Outgoing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateLastOutgoingEmail</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>DateLastIncomingEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DateLastOutgoingEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Outgoing_Milestone_Type_Id</targetReference>
            </connector>
            <label>Outgoing</label>
        </rules>
        <rules>
            <name>Case_is_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseConcern</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Incoming_Milestones_0</targetReference>
            </connector>
            <label>Case is closed</label>
        </rules>
        <rules>
            <name>Case_is_Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseAccountReference</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseConcern</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Incoming_Milestones_0</targetReference>
            </connector>
            <label>Case is Escalated</label>
        </rules>
    </decisions>
    <description>This flow is used to update the SLA&apos;s linked to the email messages on Cases</description>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Email Message Update SLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Update SLA</label>
    <loops>
        <name>Loop_Through_Milestones</name>
        <label>Loop Through Milestones</label>
        <locationX>561</locationX>
        <locationY>327</locationY>
        <assignNextValueToReference>Milestone</assignNextValueToReference>
        <collectionReference>Milestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Close_Milestone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Milestones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Milestones_0</name>
        <label>Loop Through Milestones</label>
        <locationX>880</locationX>
        <locationY>327</locationY>
        <assignNextValueToReference>Milestone</assignNextValueToReference>
        <collectionReference>Milestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Close_Milestone_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Milestones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Milestones_1</name>
        <label>Loop Through Milestones</label>
        <locationX>316</locationX>
        <locationY>111</locationY>
        <assignNextValueToReference>Milestone</assignNextValueToReference>
        <collectionReference>Milestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Close_Milestone_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Milestones_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Incoming_Milestone_Type_Id</name>
        <label>Get Incoming Milestone Type Id</label>
        <locationX>559</locationX>
        <locationY>109</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Incoming_Milestones</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inbound Email</stringValue>
            </value>
        </filters>
        <object>MilestoneType</object>
        <outputAssignments>
            <assignToReference>IncomingMilestoneTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Incoming_Milestones</name>
        <label>Get Incoming Milestones</label>
        <locationX>561</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Milestones</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingMilestoneTypeId</elementReference>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>Milestones</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>CompletionDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Incoming_Milestones_0</name>
        <label>Get Incoming Milestones</label>
        <locationX>319</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Milestones_1</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>Milestones</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>CompletionDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Outgoing_Milestone_Type_Id</name>
        <label>Get Outgoing Milestone Type Id</label>
        <locationX>877</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Outgoing_Milestones</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound Email</stringValue>
            </value>
        </filters>
        <object>MilestoneType</object>
        <outputAssignments>
            <assignToReference>OutgoingMielstoneTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Outgoing_Milestones</name>
        <label>Get Outgoing Milestones</label>
        <locationX>880</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Milestones_0</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutgoingMielstoneTypeId</elementReference>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>Milestones</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>CompletionDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>144</locationX>
        <locationY>19</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>T_Close_SLA_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestones</name>
        <label>Update Milestones</label>
        <locationX>720</locationX>
        <locationY>215</locationY>
        <inputReference>UpdatedMilestones</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestones_0</name>
        <label>Update Milestones</label>
        <locationX>141</locationX>
        <locationY>115</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputReference>UpdatedMilestones</inputReference>
    </recordUpdates>
    <startElementReference>Incoming_Or_Outgoing</startElementReference>
    <variables>
        <name>CaseAccountReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseConcern</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DateLastIncomingEmail</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DateLastOutgoingEmail</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>Emails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>IncomingMilestoneTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Milestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <name>Milestones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <name>OutgoingMielstoneTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedMilestones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
</Flow>
