src/flows/T_Flow_Case_Update_Account_Reference-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Count_Accounts</name>
        <label>Count Accounts</label>
        <locationX>271</locationX>
        <locationY>137</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRefId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountReference.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Account_References</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>One_Account</name>
        <label>One Account</label>
        <locationX>45</locationX>
        <locationY>240</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Count_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Count = 1</label>
        </rules>
    </decisions>
    <description>This flow is used to update the Account Reference on the Case if only one account reference is linked to the related account.</description>
    <interviewLabel>Case Update Account Reference {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Update Account Reference</label>
    <loops>
        <name>Loop_Through_Account_References</name>
        <label>Loop Through Account References</label>
        <locationX>47</locationX>
        <locationY>135</locationY>
        <assignNextValueToReference>AccountReference</assignNextValueToReference>
        <collectionReference>AccountReferences</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Accounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>One_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_References</name>
        <label>Get Account References</label>
        <locationX>47</locationX>
        <locationY>29</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Account_References</targetReference>
        </connector>
        <filters>
            <field>C_Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account_Reference__c</object>
        <outputReference>AccountReferences</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>47</locationX>
        <locationY>345</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>C_Account_Reference__c</field>
            <value>
                <elementReference>AccountRefId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Get_Account_References</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountReference</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Reference__c</objectType>
    </variables>
    <variables>
        <name>AccountReferences</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Reference__c</objectType>
    </variables>
    <variables>
        <name>AccountRefId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
